*{
margin: 0;
padding: 0;
box-sizing: border-box; /* margem padrão para sites */
font-family: 'Poppins', sans-serif;
}

body {
padding-top: 20px;
padding-right: 100px;
padding-left: 100px;

}

.conteudo {
width: 100%;
display: flex; /* super poder */
justify-content: space-between; /* separa intens da caixa */
align-items: center; /* alinhar itens na caixa */

}

.caixa-texto {
width: 600px;

}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;

}

.menu {
display: flex;
justify-content: center;

}

button {
    background-color: #017143;
    /* cor de fundo */
    color: #ffffff;
    /* cor do texto */
    border: none;
    /* borda */
    padding: 10px; /* tamanho do botão */
    border-radius: 20px; /* aredondamento do botão */
}

h2 {

    font-size: 60px;
    font-weight: 500;
}

span {
color: #017143; /*cor de fonte*/
font-size: 70px; /*tamanho da fonte*/
font-weight: 1000; /*espesura da fonte*/

}

p {

    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
width: 80px;

}

.starbucks {
width: 340px;
z-index: 2;

}

.copo-pequeno {
width: 60px;
cursor: pointer;
transition: 1s;

}

.copo-pequeno:hover {
transform: translateY(-36px);

}


.circulo {
background: #017143;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
clip-path: circle(600px at right 800px);
}